/* The universal selector and MainPart was to be applied on all three devices so they are not included in media query */

*{
		box-sizing: border-box;
		font-family: Helvetica, Calibri, Arial, Times New Roman;
		}
	#MainPart{
		position: relative;
		}

/* This Part is for desktop */
@media(min-width: 972px)
{
	/* This is the styling applied to first heading "Our Menu" */
	h1{
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		padding: 10px;
		border: 5px solid black;
		background-color: green
		}

	/* This is the styling applied to first box heading "Chicken" */
	#heading1{
		float: right;	
		font-size: 24px;
		font-weight: bold;
		padding: 10px;
		border: 5px solid black;
		background-color: green
		}
	/* This is the styling applied to Second box heading "Beef" */	
	#heading2{
		float: right;	
		font-size: 24px;
		font-weight: bold;
		padding: 10px;
		border: 5px solid black;
		background-color: green
		}
	/* This is the styling applied to third box heading "Rice" */
	#heading3{
		float: right;	
		font-size: 24px;
		font-weight: bold;
		padding: 10px;
		border: 5px solid black;
		background-color: green;
		}
	/* This is the styling for first box whose heading is "Chicken" */
	#Section1{
		background-color: grey;
		width: 33%;
		padding: 5px;
		margin: 2px;
		border: 5px solid black;
		}
	/*P1, P2 and P3 are the paragraphs written under the headings of "Chicken", "Beef" and "Rice". The purpose of using clear: right is 
	that there should be no text behind the heading*/	
	#p1{
		clear: right;
		}
	#p2{
		clear: right;	
		}
	#p3{
		clear: right;
		}
	/* This is the styling for Second box whose heading is "Beef" */	
	#Section2{
		background-color: grey;
		width: 33%;
		position: absolute;
		padding: 5px;
		margin: 2px;
		top: -1%;
		left: 33.33%;
		border: 5px solid black;
		}
	/* This is the styling for Third box whose heading is "Rice" */	
	#Section3{
		background-color: grey;
		width: 33%;
		position: absolute;
		padding: 5px;
		margin: 2px;
		top: -1%;
		border: 5px solid black;
		left: 66.66%;
		}
}

/* This Part is for Tablets */
@media(min-width: 768px) and (max-width: 971px){
	/* This is the styling applied to first heading "Our Menu" */
	h1{
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		padding: 10px;
		border: 5px solid black;
		background-color: green
		}
	/* This is the styling applied to first box heading "Chicken" */	
	#heading1{
		float: right;	
		font-size: 24px;
		font-weight: bold;
		padding: 10px;
		border: 5px solid black;
		background-color: green
		}
	/* This is the styling applied to Second box heading "Beef" */		
	#heading2{
		float: right;	
		font-size: 24px;
		font-weight: bold;
		padding: 10px;
		border: 5px solid black;
		background-color: green
		}
	/* This is the styling applied to third box heading "Rice" */	
	#heading3{
		float: right;	
		font-size: 24px;
		font-weight: bold;
		padding: 10px;
		border: 5px solid black;
		background-color: green;
		}
	/* This is the styling for first box whose heading is "Chicken" */	
	#Section1{
		background-color: grey;
		width: 49%;
		padding: 5px;
		margin: 2px;
		border: 5px solid black;
		}
	/*P1, P2 and P3 are the paragraphs written under the headings of "Chicken", "Beef" and "Rice". The purpose of using clear: right is 
	that there should be no text behind the heading*/	
	#p1{
		clear: right;
		}
	#p2{
		clear: right;	
		}
	#p3{
		clear: right;
		}
	/* This is the styling for second box whose heading is "Beef" */	
	#Section2{
		background-color: grey;
		width: 49%;
		position: absolute;
		padding: 5px;
		margin: 2px;
		top: -0.5%;
		left: 50%;
		border: 5px solid black;
		}
	/* This is the styling for Third box whose heading is "Rice" */	
	#Section3{
		background-color: grey;
		width: 99%;
		padding: 5px;
		margin: 2px;
		border: 5px solid black;
		}
}
/* This Part is for Mobiles */
@media(max-width: 767px){
	/* This is the styling applied to first heading "Our Menu" */
	h1{
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		padding: 10px;
		border: 5px solid black;
		background-color: green
		}
	/* This is the styling applied to first box heading "Chicken" */
	#heading1{
		float: right;	
		font-size: 24px;
		font-weight: bold;
		padding: 10px;
		border: 5px solid black;
		background-color: green
		}
	/* This is the styling applied to Second box heading "Beef" */
	#heading2{
		float: right;	
		font-size: 24px;
		font-weight: bold;
		padding: 10px;
		border: 5px solid black;
		background-color: green
		}
	/* This is the styling applied to third box heading "Rice" */
	#heading3{
		float: right;	
		font-size: 24px;
		font-weight: bold;
		padding: 10px;
		border: 5px solid black;
		background-color: green;
		}
	/* This is the styling for first box whose heading is "Chicken" */
	#Section1{
		background-color: grey;
		padding: 5px;
		margin: 2px;
		border: 5px solid black;
		}
	/*P1, P2 and P3 are the paragraphs written under the headings of "Chicken", "Beef" and "Rice". The purpose of using clear: right is 
	that there should be no text behind the heading*/
	#p1{
		clear: right;
		}
	#p2{
		clear: right;	
		}
	#p3{
		clear: right;
		}
	/* This is the styling for second box whose heading is "Beef" */
	#Section2{
		background-color: grey;
		padding: 5px;
		margin: 2px;
		border: 5px solid black;
		}
	/* This is the styling for Third box whose heading is "Rice" */	
	#Section3{
		background-color: grey;
		padding: 5px;
		margin: 2px;
		border: 5px solid black;
		}
}
}