body{
	font-family: 'Caveat', cursive;
	background-color: lightblue;
}
#navback{
	background-color: grey;
}
#mainheader{
	background-color: grey;
}
#botton:hover{
	background-color: green;
}
#compname{
	font-size: 48px;
	font-weight: bold;
}
#navbarNav{
	font-size: 24px;
}
#top{
	font-size: 42px;
	font-weight: bold;
	text-align: center;
}
#Section1{
	background-color: grey;
	font-size: 24px;
	float: right;
	margin: 5px;
}
#Section2{
	background-color: grey;
	font-size: 24px;
	float: right;
	margin: 5px;
}
#Section3{
	background-color: grey;
	font-size: 24px;
	float: right;
	margin: 5px;
}
#heading1{
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}
#heading2{
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}
#heading3{
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}